.main-page-header {
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-links {
    display: flex;
    gap: 40px;

    .one__link {
      font-size: 20px;
      background-color: #ffffff;
      color: #000000;
      border: none;
      cursor: pointer;
      transition: 0.2s;
    }
    .one__link:hover {
      color: #808080;
    }
    .header--button {
      border: 1px solid #000000;
      border-radius: 14px;
      padding: 20px 35px;
      transition: 0.3s;
    }
    .header--button:hover {
      background-color: #000000;
      color: #ffffff;
    }
  }
}
