.header-links-phone {
  display: none;
}

.nav-opened {
  .hamburger {
    animation: change-color-to-green 0.8s;
    background-color: #b9ff66;

    .top {
      animation:
        to-center-from-top 0.2s ease-in forwards,
        rotate-to-45-top 0.2s linear 0.2s forwards !important;
    }
    .center {
      opacity: 0;
    }
    .bottom {
      animation:
        to-center-from-bottom 0.2s ease-in forwards,
        rotate-to-45-bottom 0.2s linear 0.2s forwards !important;
    }
  }
}

.nav-closed {
  .hamburger {
    animation: change-color-to-white 0.8s;
    background-color: #ffffff;

    .top {
      animation:
        rotate-back-top 0.2s linear,
        to-top-from-center 0.2s ease-in 0.2s forwards !important;
    }
    .center {
      opacity: 1;
    }
    .bottom {
      animation:
        rotate-back-bottom 0.2s linear forwards,
        to-bottom-from-center 0.2s ease-in 0.2s forwards !important;
    }
  }
  .nav-phone {
    height: 0px;
  }
}
@media only screen and (max-width: 1100px) {
  .main-page-header {
    position: fixed;
    z-index: 1000;
    background-color: #ffffff;
    margin-top: 0;
    padding: 60px 5vw 20px 5vw;
    .header-links {
      display: none;
    }
  }
  .header-links-phone {
    display: flex;
  }

  .hamburger {
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 48px;
    height: 50px;

    span {
      display: flex;
      height: 0px;
      width: 24px;
      border: 1px solid #000000;
      border-radius: 100px;
      background-color: #000000;
      transition: 0.4s;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -12px;
    }

    .top {
      transform: translateY(-8px);
    }
    .bottom {
      transform: translateY(8px);
    }
  }
  .nav-phone {
    margin-top: 140px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0px 5vw;
    height: 510px;
    overflow: hidden;
    transition: 0.5s ease;

    .header-links {
      display: flex;
      flex-direction: column;
      background-color: #f3f3f3;
      width: 100%;
      border-radius: 2px 2px 20px 20px;
      border-bottom: 5px solid #b9ff66;
      gap: 6px;
      align-items: center;
      .one-link {
        background-color: transparent;
        padding: 28px 50px;
        width: fit-content;
      }

      .header-button {
        padding: 10px 10px;
        margin-bottom: 20px;
        border-radius: 10px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .main-page-header {
    padding: 20px 5vw 10px 5vw;

    .header-logo {
      display: flex;
      img {
        width: 144px;
      }
    }

    .header-links-phone {
      .nav-phone {
        margin-top: 80px;
      }
    }
  }
}
