/** SpaceGrotesk **/
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/src/assets/fonts/space-grotesk/SpaceGrotesk-Light.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/src/assets/fonts/space-grotesk/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/src/assets/fonts/space-grotesk/SpaceGrotesk-Medium.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/src/assets/fonts/space-grotesk/SpaceGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/src/assets/fonts/space-grotesk/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 600;
}
