* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #191a23;
}

input,
button,
textarea:focus {
  outline-width: 0px;
}

.positivus-main-page {
  header {
    padding: 60px 99px 0px 99px;
    * {
      font-family: 'SpaceGrotesk';
      font-weight: 300;
    }
  }
  body {
    padding: 0px 99px;
    font-family: 'SpaceGrotesk';
    transition:
      background-color 0.5s ease,
      color 0.5s ease;
  }
  footer {
    margin: 140px 99px 0px 99px;
    font-family: 'SpaceGrotesk';
  }
}

// FONTS
@import url('/src/assets/fonts.scss');

// KEYFRAMES
@import url('/src/assets/keyframes.scss');

// COMPONENTS
@import url('/src/assets/components/header.scss');
@import url('/src/assets/components/first-view.scss');
